test_repository_app/src/main/mule/test_repository_app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="375aebfd-fa67-4d7c-849f-6a296be83544" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test_repository_appFlow" doc:id="d3840ef5-849d-49bc-b4cf-cb63559e5174" >
		<http:listener doc:name="Listener" doc:id="cddd1068-f234-46d2-9360-e96c7e0f79f7" config-ref="HTTP_Listener_config" path="/testRepository"/>
		<set-payload value='#["My First Repository Commit"]' doc:name="Set Payload" doc:id="7bf27ac7-a5c0-42e4-b3a9-e274531fc6a2" />
		<logger level="INFO" doc:name="Logger" doc:id="afb75df5-abef-4242-973c-4af72bba065e" message="#{payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="affa4ce6-3d77-4514-86d3-effd7e4ef0d7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"MYPAYLOAD"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
